<ion-header>
    <ion-toolbar>
        <ion-title>历史查询</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content">
    <!-- another way: (keyup.enter)="seachTomatoes(tomatoSearchbar.value)" -->
    <ion-searchbar #tomatoSearchbar (ionInput)="seachTomatoes($event)" placeholder="番茄钟名称..." debounce="800"></ion-searchbar>
    <ion-list class="tomato-history-list">
        <ion-item *ngFor="let item of searchReturnItems" class="tomato-today-list" track="tooling">
            <ion-avatar item-start>
                <img src="./assets/tomato.png">
            </ion-avatar>
            <h2>
                <span [ngClass]="{'text-breaked':item.succeed==0}">{{ item.title | StringTruncate: 20 }}</span>
                <img src="./assets/voice/voice.png" *ngIf="item.voiceUrl" class="play-icon" (click)="playVoiceRecord(item)">
            </h2>
            <h3>
                <span class="tomato-start-end-time">{{ item.startTime | date:'short' }} - {{ item.endTime | date:'shortTime' }}</span>
                <div *ngIf="item.breakReason" class="tomato-break-reason">(中断原因:{{ item.breakReason }})</div>
            </h3>
        </ion-item>
    </ion-list>
</ion-content>