.tomato-start-end-time {
    font-size: 12px;
}

.text-breaked {
    color: #f97271 !important;
}

.tomato-break-reason {
    color: gray;
    font-size: 12px;
    text-align: left;
}

.tomato-today-list {
    h2 {
        font-size: 18px;
    }
}

img.play-icon {
    width: 25px;
}