<ion-list>
  <ion-item>
    <ion-label>自动添加</ion-label>
    <ion-toggle [(ngModel)]="isChecked" (ionChange)="changeAutoAddState()"></ion-toggle>
  </ion-item>
  <ion-select interface="popover" placeholder="类别" (ionChange)="changeTodoType($event)" [(ngModel)]="todoType">
    <ion-select-option value="1">重要紧急</ion-select-option>
    <ion-select-option value="2">重要不紧急</ion-select-option>
    <ion-select-option value="3">不重要紧急</ion-select-option>
    <ion-select-option value="4">不重要不紧急</ion-select-option>
  </ion-select>
  <ion-item>
    <ion-label (click)="deleteRegularTodo()">删除</ion-label>
  </ion-item>
</ion-list>