<div class="login-container">
    <form #form="ngForm" (ngSubmit)="form.form.valid && doLogin()" novalidate class="form-horizontal" role="form">
        <ion-list>
            <ion-item>
                <ion-label color="primary">用户名</ion-label>
                <ion-input required placeholder="请输入用户名..." [ngClass]="{'is-success': form.submitted && !userName.valid }" name="userName"
                    [(ngModel)]="user.username" #userName="ngModel" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary">密码</ion-label>
                <ion-input [ngClass]="{ 'is-success': form.submitted && !userName.valid }" required minlength="6" [(ngModel)]="user.password"
                    name="password" #password="ngModel" type="password" placeholder="请输入密码..."></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>记住我</ion-label>
                <ion-checkbox name="remeberMe" [(ngModel)]="remeberMe.selected" #remeberMe="ngModel"></ion-checkbox>
            </ion-item>
        </ion-list>

        <div *ngIf="form.submitted && !password.valid" class="text-danger">
            密码必须输入,至少要8位！
        </div>
        <div *ngIf="form.submitted && !userName.valid" class="text-danger">
            用户名必须输入！
        </div>
        <!-- 这里用来做服务端验证 -->
        <div *ngIf="error">{{error}}</div>
        <button type="submit" ion-button block outline>登陆</button>
        <button type="button" ion-button block outline (click)="navToRegister()">注册</button>

    </form>

</div>