.login-container{
    margin: auto;
    background: white;
}
.text-danger{
    color: red;
}
.login-submit-block{
    margin-top:25px;
    margin-bottom: 40px;
}
.login-logo{
   
    width:150px;
    height: 150px;
    background-size:contain;
    background-image: url(/assets/tomatobang.jpg);
    margin:auto;
    margin-top: 50px;
    margin-bottom:25px;
    border-radius: 50%;
}