.voice-recorder-container {
    height: 300px;
}

.hold-tips {
    width: 120px;
    height: 120px;
    text-align: center;
    padding-top: 6px;
    border-radius: 95px;
    background-color: #eee;
    color: #444;
    margin: auto;
    margin-top: 25px;

    &.active {
        background-color: #fff;
    }
}


.voice-mock-img {
    text-align: center;

    img {
        width: 120px;
    }
}

.voice-uploading-range {
    width: 100%;

    ion-item {
        border: none !important;
    }
}

.recorder-button {
    width: 100%;
    position: absolute;
    bottom: 10px;
}