<!-- 账单 -->
<ion-list *ngIf="type==='bill'">
  <ion-list-header>
    <ion-label>
      <p *ngIf="totalCost"> 总支出
        <ion-note slot="end" class="total-amount"><span class="rmb-sign">¥</span>{{ totalCost | NumberFix:2}}
        </ion-note>元
      </p>
      <p *ngIf="totalIncome"> 总收入
        <ion-note slot="end" class="total-amount"><span class="rmb-sign">¥</span>{{
          totalIncome | NumberFix:2}}
        </ion-note>元
      </p>
    </ion-label>
  </ion-list-header>
  <ion-item-sliding *ngFor="let item of billList;let i = index;">
    <ion-item>
      <ion-label>
        <p>
          <ion-text class="list-amount">
            <span class="rmb-sign">¥</span>{{ item.amount }}
          </ion-text>
          <ion-text class="bill-note float-right">
            <ion-text *ngIf="item.tag" class="bill-note">{{ item.tag }}</ion-text>
            <ion-text *ngIf="item.note" class="bill-note">({{ item.note }})</ion-text>
          </ion-text>
        </p>
        <p>
          <ion-text class="bill-note amount-tag-income" *ngIf="item.type==='收入'">
            {{ item.type }}
          </ion-text>
          <ion-text class="bill-note amount-tag-pay" *ngIf="item.type==='支出'">
            {{ item.type }}
          </ion-text>
          <ion-chip color="warning" *ngIf="item.asset.name" class="bill-note">
            <ion-label color="dark" class="text-small">{{ item.asset.name }}</ion-label>
          </ion-chip>
          <ion-text class="bill-note float-right text-small">
            {{ item.create_at | DateTransform:'withdate' }}
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-item-sliding>

</ion-list>

<!-- 足迹 -->
<ion-list *ngIf="type==='footprint'">
  <ion-item-sliding *ngFor="let item of footprintlist; let i = index;">
    <ion-item>
      <ion-label>
        <div class="text-small">
          <span class="list-title">{{ item.notes }}</span>
          <ion-chip color="primary" *ngIf="item.tag" style="height:24px;line-height:24px;">
            <ion-label style="font-size:10px">{{ item.tag }}</ion-label>
          </ion-chip>
          <ng-container *ngIf="item.mode">
            <ion-icon *ngFor="let i of item.mode" name="star" class="star"></ion-icon>
          </ng-container>
        </div>
        <p class="text-small">
          {{ item.position }}
        </p>
        <p class="text-small">
          {{ item.create_at | DateTransform:'withdate'}}
        </p>
      </ion-label>
    </ion-item>
  </ion-item-sliding>
</ion-list>