ion-chip {
    --ion-color-warning: #ff8208;
    height: 24px;
    line-height: 24px;
    margin: 0 2px;
}

li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        position: relative;
        font-size: 16px;
        border-bottom: 1px solid #ededed;
    }

    li:last-child {
        border-bottom: none;
    }
}

.total-amount {
    font-size: 24px;
    color: #ff8208;
    font-family: 'RobotoLight';
}

.amount {
    color: #ff8208;
    text-align: left;
    font-size: 24px;
    font-family: 'RobotoLight';
}

.amount-grey {
    color: #777;
}


.list-amount {
    color: #ff8208;
    text-align: left;
    margin: 0px 10px 0px 0px;
    font-size: 18px;
    font-family: 'RobotoLight';
}

.amount-tag-income {
    padding: 2px 4px;
    background: #32CD32;
}

.amount-tag-pay {
    color: #fff !important;
    padding: 2px 4px;
    background: #ff8208;
}

.asset-tag {
    margin-left: 5px;
    color: #fff !important;
    padding: 2px 4px;
    background: #f97271;
}

.bill-note {
    font-size: 10px;
    color: #777;
}

.tag-slide {
    font-size: 12px;
}

.text-small {
    font-size: 10px;
    white-space: pre-line;
}

.rmb-sign {
    font-size: 12px;
}

.float-right {
    float: right;
}

.picture-list {
    img {
        display: inline-block;
        margin-right: 3px;
        width: 80px;
    }
}

.video-list {
    position: relative;

    video {

        display: inline-block;
        margin-right: 3px;
        width: 80px;
    }

    ion-icon {
        color: #777;
        opacity: .8;
        font-size: 32px;
        position: absolute;
        top: 40px;
        left: 22px;
    }
}