<!-- 账单 -->
<ion-list *ngIf="type==='bill'">
  <ion-list-header>
    <ion-label>
      <p *ngIf="totalCost"> 总支出
        <ion-note slot="end" class="total-amount"><span class="rmb-sign">¥</span>{{ totalCost | NumberFix:2 }}
        </ion-note>元
      </p>
      <p *ngIf="totalIncome"> 总收入
        <ion-note slot="end" class="total-amount"><span class="rmb-sign">¥</span>{{ totalIncome | NumberFix:2 }}
        </ion-note>元
      </p>
    </ion-label>
  </ion-list-header>
  <ion-item-sliding *ngFor="let item of billList;let i = index;">
    <ion-item>
      <ion-label>
        <p>
          <ion-text class="list-amount">
            <span class="rmb-sign" [ngClass]="{'amount-grey':item.tag==='资产互转'}">¥</span>
            <span [ngClass]="{'amount-grey':item.tag==='资产互转'}">{{ item.amount }}</span>
            <ion-text class="bill-note text-small" *ngIf="item.asset_balance ">
              余额: {{ item.asset_balance | NumberFix:2 }}
            </ion-text>
          </ion-text>
          <ion-text class="bill-note float-right">
            <ion-text *ngIf="item.tag" class="bill-note">{{ item.tag }}</ion-text>
            <ion-text *ngIf="item.note" class="bill-note">({{ item.note }})</ion-text>
          </ion-text>
        </p>
        <p>
          <ion-text class="bill-note amount-tag-income" *ngIf="item.type==='收入'">
            {{ item.type }}
          </ion-text>
          <ion-text class="bill-note amount-tag-pay" *ngIf="item.type==='支出'">
            {{ item.type }}
          </ion-text>
          <ion-text class="bill-note asset-tag" *ngIf="item.asset.name">
            {{ item.asset.name }}
          </ion-text>
          <ion-text class="bill-note float-right text-small">
            {{ item.create_at | DateTransform:'withdate' }}
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="editBill(item,i)" color="secondary">编辑</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<!-- 足迹 -->
<ion-list *ngIf="type==='footprint'">
  <ion-item-sliding *ngFor="let item of footprintlist; let i = index;">
    <ion-item>
      <ion-label>
        <div class="text-small">
          <span class="list-title">{{ item.notes }}</span>
          <div class="picture-list">
            <ng-container *ngFor="let pic of item.pictures">
              <img [src]="pic" [picClicked]="pic" appShowBigImgDirective [pictures]="item.pictures" />
            </ng-container>
          </div>
          <div class="video-list" *ngIf="item.videos">
            <div *ngFor="let item of item.videos">
              <ion-icon name="videocam"></ion-icon>
              <img appShowVideoDirective [videoUrl]="item + ''"
                onError="javascript:this.src='./assets/tomato-grey.png';" [src]="item + '_thumbnail'" />
            </div>
          </div>
          <div class="voice-list" *ngIf="item.voices.length > 0">
            <ng-container *ngFor="let item of item.voices; let i = index;">
              <div id="play_block">
                <ion-button shape="round" color="primary" appVoicePlayDirective [voiceUrl]="item">
                  播放({{ i+1 }})
                </ion-button>
              </div>
            </ng-container>
          </div>
          <ion-chip color="primary" *ngIf="item.tag" style="height:24px;line-height:24px;">
            <ion-label style="font-size:10px">{{ item.tag }}</ion-label>
          </ion-chip>
          <ng-container *ngIf="item.mode">
            <ion-icon *ngFor="let i of item.mode" name="star" class="star"></ion-icon>
          </ng-container>
        </div>
        <p class="text-small">
          {{ item.position }}
        </p>
        <p class="text-small">
          {{ item.create_at | DateTransform:'withdate'}}
        </p>
      </ion-label>
    </ion-item>
  </ion-item-sliding>
</ion-list>

<!-- TODO -->
<div *ngIf="type==='todo'" class="todo-list">
  <li *ngFor="let todo of todolist" [class.completed]="todo.completed">
    <div class="view">
      <label>
        {{ todo.title }}
      </label>
    </div>
  </li>
</div>