.login-container{
    margin: auto;
    background: white;
    padding: 0 10px;
}
.text-danger{
    color: red;
}
.login-submit-block{
    margin-top:25px;
    margin-bottom: 40px;
}
.register-logo{
    width:90px;
    height: 90px;
    background-size:contain;
    background-image: url(../assets/tomatobang.jpg);
    margin:auto;
    margin-top: 50px;
    margin-bottom:25px;
    border-radius: 50%;
}