<ion-header>
  <ion-toolbar>
    <ion-title>
      常用 Todos
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        关闭
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="createRegularTodo()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let item of regularTodos; let i = index">
      <ion-item *ngIf="!item.added">
        <ion-label>
          <h3 style="white-space: pre-line">
            {{ item.title }}
            <div>
              <ion-text class="tag-autoadd" *ngIf="item.auto_add">
                自动添加
              </ion-text>
              <ion-text class="tag tag-1" *ngIf="item.type === 1">
                重要紧急
              </ion-text>
              <ion-text class="tag tag-2" *ngIf="item.type === 2">
                重要不紧急
              </ion-text>
              <ion-text class="tag tag-3" *ngIf="item.type === 3">
                紧急不重要
              </ion-text>
              <ion-text class="tag tag-4" *ngIf="item.type === 4">
                不紧急不重要
              </ion-text>
            </div>
          </h3>
        </ion-label>
        <ion-button slot="end" color="success" (click)="addTodo(item)">添加</ion-button>
        <ion-icon slot="end" name="create" (click)="showPopover(item,i)" color="primary">设置
        </ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>