.tag {
    font-size: 10px;
    padding: 2px 4px;
    color: #fff;
}

.tag-autoadd {
    font-size: 10px;
    padding: 2px 4px;
    color: #10dc60;
}

.tag-1 {
    background: #F04141;
}

.tag-2 {
    background: #FFCE00;
}

.tag-3 {
    background: #222428;
}

.tag-4 {
    background: #989aa2;
}

.setting {
    display: inline-block;
    font-size: 21px;
}