<ion-header>
  <ion-toolbar>
    <ion-title>TODO</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
      <ion-button icon-only (click)="showRegularTodos()">
        <ion-icon name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="todoapp">
    <header class="header">
      <app-new-todo></app-new-todo>
    </header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </section>
</ion-content>