ion-title {
    font-weight: 100;
    text-align: center;
    color: rgb(175, 47, 47);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}
.todoapp{
    margin-top:0px;
}