.task-title {
    font-size: 18px;
}

.subtitle {
    font-size: 12px;

    span {
        color: gray;
    }
}

button.add-task-button[icon-only] {
    padding: 5px 10px;
}

ion-title {
    margin: 15px 5px;
}


.newtask-form-container {
    margin: 0px 5px;
}

.task-note-ion-textarea {
    height: auto !important;
    min-height: 40px !important;
}
