<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tomato">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'HOME.TomatoPage' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list">
      <ion-icon name="hammer"></ion-icon>
      <ion-label>TODO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="message">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>消息</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friend">
      <ion-icon name="people"></ion-icon>
      <ion-label>圈子</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="me">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ 'HOME.Me' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>