<ion-tabs>

  <ion-tab-bar slot="bottom" id="myTabBar">

    <ion-tab-button tab="footprint">
      <ion-icon name="locate"></ion-icon>
      <ion-label>足跡</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ngrxtodo">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>TODO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bill">
      <ion-icon name="calculator"></ion-icon>
      <ion-label>账单</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tomato">
      <ion-icon name="arrow-dropright-circle"></ion-icon>
      <ion-label>{{ 'HOME.TomatoPage' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friend">
      <ion-icon name="people"></ion-icon>
      <ion-label>圈子</ion-label>
      <ion-badge *ngIf="messsageBadge">{{ messsageBadge }}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="me" tabsHideOnSubPages="true">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ 'HOME.Me' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>