.contact-nav-char {
  display: block;
  background: #eee;
}
.contact-headImg{
    width:45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
}
.contact-friend-name{
    font-size: 14px;
}
.contact-friend-item{
    ion-label{
        margin: 0px;
    }
}