<ion-header>
  <ion-navbar>
    <ion-title>通讯录</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <wave-side-bar (scrollHandler)="OnNavcScroll($event)" [wavadata]="newFriendList"></wave-side-bar>

  <ion-scroll scrollHeight #scrollMe scrollX="true" scrollY="true">
    <div *ngFor="let friendgroup of newFriendList">
      <a href="javascript:void(0)" id="{{friendgroup.id}}">{{ friendgroup.firstCode }}</a>
      <ion-item *ngFor="let friend of friendgroup.data">
        <span>{{ friend.name }}</span>
      </ion-item>
    </div>
  </ion-scroll>
</ion-content>