.hold-tips {
  height: 64px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-top: 6px;
  border-radius: 4px;
}

.hold-tips {
  background-color: #eee;
  color: #444;
}

 .hold-tips.active {
  background-color: #ccc;
}

.voice-mock-img,#play_block{
  text-align: center;
}

