<ion-header>
    <ion-navbar>
        <ion-title>{{page_title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-slides pager (ionSlideDidChange)="slideChanged()">
        <ion-slide>
            <div>
                <angular-round-progress [(timerStatus)]="timerStatus"></angular-round-progress>
            </div>

            <div class="active-task">
                    <div class="bs-callout bs-callout-info" *ngIf="activeTomato">
                      <h4 class="active-task-title">{{ activeTomato.title }}</h4>
                      <p class="active-task-desc">{{ activeTomato.description }}</p>
                    </div>
                    <div class="bs-callout bs-callout-info" *ngIf="isResting">
                      <h4 class="rest-title">休息中....</h4>
                    </div>
                    <button class="break-tomato" *ngIf="activeTomato" (click)="breakActiveTask(true)">中断当前番茄钟</button>
           </div>

            <button ion-fab mini (click)="addTask()" class="task-manager-plus"><ion-icon name="add"></ion-icon></button>
            
        </ion-slide>

        <ion-slide class="tomato-today-slide">
            <h1 class="today-tomatoCount">{{tomatoCount}}</h1>
            <ion-list>
                <ion-item *ngFor="let tomato of historyTomatoes">
                    <ion-avatar item-start>
                        <img src="assets/tomato.png">
                    </ion-avatar>
                    <h2>
                        <span [ngClass]="{'text-breaked':tomato.succeed==0}">{{tomato.title | StringTruncate: 20}}</span>
                        <img src="./assets/voice/voice.png" *ngIf="tomato.voiceUrl" class="play-icon" (click)="playVoiceRecord(tomato)">
                    </h2>
                    <h3><span>{{tomato.endTime | date:'shortTime'}}</span>
                    </h3>
                </ion-item>
            </ion-list>
        </ion-slide>

        <ion-slide class="tomato-history-slide">
                <ion-searchbar (ionInput)="getItems($event)" placeholder="番茄钟名称..."></ion-searchbar>
                <ion-list>
                  <ion-item *ngFor="let item of items">
                    {{ item }}
                  </ion-item>
                </ion-list>
        </ion-slide>

    </ion-slides>
   
</ion-content>
