
.text-breaked{
  color: red !important;
}
.tomato-today-slide,.tomato-history-slide{
  align-items: flex-start;
}
.task-manager-plus{
  position: absolute;
  right: 10px;
  bottom: 40px;
}
.today-tomatoCount{
  font-size: 32px;
  color: #387ef5;
  text-align: center;
}

.active-task-title {
  font-size: 38px;
  color: #23d160;
}
.rest-title {
  color: #00d1b2;
}
.break-tomato{
  margin-top:10px;
  margin-bottom:10px;
  padding: 10px 25px;
  font-size: 1.2rem;
}