<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!showBigHeadImg">
      我
    </ion-title>

    <ion-buttons right *ngIf="showBigHeadImg">
      <ion-button (click)="closeBigHeadImg()">
        <ion-icon name="md-close" showWhen="android,windows,ios"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding no-bounce>
  <div *ngIf="!showBigHeadImg">
    <ion-card-header>
      <img [src]="headImg" class="headImg" (click)="toShowBigHeadImg()" onError="this.src='./assets/tomato-active.png';" />
      <span class="username">{{ username }}</span>

      <img src="./assets/qr-icon.png" class="mine-qr-icon" (click)="showMyQRCODE()" />
    </ion-card-header>

    <ion-list>
      <ion-item (click)="profile()">
        <ion-icon name="contact" slot="start" class="setting-icon"></ion-icon>
        我的资料
      </ion-item>
      <ion-item (click)="statistics()">
        <ion-icon name="podium" slot="start" class="setting-icon"></ion-icon>
        统计
      </ion-item>
      <ion-item (click)="toGameBoard()">
        <ion-icon name="logo-game-controller-b" slot="start" class="setting-icon"></ion-icon>
        轻松一下
      </ion-item>

      <ion-item (click)="setting()">
        <ion-icon name="settings" slot="start" class="setting-icon"></ion-icon>
        设置
      </ion-item>

      <ion-item (click)="about()">
        <ion-icon name="information-circle" slot="start" class="setting-icon"></ion-icon>
        关于
      </ion-item>

      <ion-item disabled>
        <ion-icon name="share-alt" slot="start" class="setting-icon"></ion-icon>
        分享
      </ion-item>

      <ion-item (click)="logout()" ion-item>
        <ion-icon name="log-out" slot="start" class="setting-icon"></ion-icon>
        退出
      </ion-item>
    </ion-list>

  </div>


  <div class="big-headImg" *ngIf="showBigHeadImg">
    <img [src]="headImg" onError="this.src='./assets/tomato-active.png';" />
  </div>

</ion-content>