<ion-header>
  <ion-toolbar>
    <ion-title>
      修改密码
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">取消
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="changePWDForm" (ngSubmit)="save()" role="form">
    <ion-item>
      <ion-label position="stacked">旧密码</ion-label>
      <ion-input type="password" formControlName="oldPassword" placeholder="旧密码...">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">新密码</ion-label>
      <ion-input type="password" formControlName="newPassword" placeholder="新密码..." reverse="true"
        validateEqual="newPasswordConfirm"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">确认新密码</ion-label>
      <ion-input type="password" formControlName="newPasswordConfirm" placeholder="确认新密码..."
        validateEqual="newPassword"></ion-input>
    </ion-item>

    <div *ngIf="formErrors.oldPassword" class="text-danger">
      [旧密码]: {{ formErrors.oldPassword }}
    </div>
    <div *ngIf="formErrors.newPassword" class="text-danger">
      [新密码]:{{ formErrors.newPassword }}
    </div>
    <div *ngIf="formErrors.newPasswordConfirm" class="text-danger">
      [确认新密码]: {{ formErrors.newPasswordConfirm }}
    </div>

    <div *ngIf="otherError" class="text-danger">
      {{ otherError }}
    </div>

    <ion-button [disabled]="changePWDForm.invalid" slot="icon-only" expand="block" fill="outline" color="secondary"
      type="submit">保存
    </ion-button>
  </form>
</ion-content>