ion-chip {
    --ion-color-warning: #ff8208;
}

ion-slides {
    margin: 5px 0px;
    height: 90px;
    ion-slide {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        ion-chip {
            height: 24px;
            line-height: 24px;
            margin: 2px 2px;
        }
    }
}

.amount {
    color: #ff8208;
    text-align: left;
    font-size: 24px;
    font-family: 'RobotoLight';
}

.bill-note {
    font-size: 10px;
    color: #777;
}

.tag-slide {
    font-size: 12px;
}

.text-small {
    font-size: 10px;
    white-space: pre-line;
}

.rmb-sign {
    font-size: 12px;
}