ion-chip {
    --ion-color-warning: #ff8208;
}

ion-slides {
    margin: 5px 0px;
    height: 90px;
    width: 100% !important;

    ion-slide {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
        width: 100% !important;

        ion-chip {
            height: 24px;
            line-height: 24px;
            margin: 2px 2px;
        }
    }
}

ion-label {
    --color: #777 !important;
}

.amount {
    color: #ff8208;
    text-align: left;
    font-size: 32px;
    font-family: 'Roboto';
}

.bill-note {
    font-size: 10px;
    color: #777;
}

.tag-slide {
    font-size: 12px;
}

.text-small {
    font-size: 10px;
    white-space: pre-line;
}

.rmb-sign {
    font-size: 12px;
}