<ion-header>
    <ion-toolbar>
        <div padding>
            <ion-segment [(ngModel)]="showType">
                <ion-segment-button value="hot">
                    动态
                </ion-segment-button>
                <ion-segment-button value="rank">
                    排名
                </ion-segment-button>
            </ion-segment>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <div class="pulling-tips" *ngIf="pullingIcon">
            <ion-icon name="arrow-down"></ion-icon>下拉加载菜单
        </div>

        <ion-card *ngIf="isShowMenuCard">
            <ion-grid class="friendpage-tool-grid">
                <ion-row>
                    <ion-col col-4 (click)="scanToAddFriend()">
                        <div>
                            <ion-icon ios="ios-qr-scanner" md="md-qr-scanner"></ion-icon>
                        </div>
                        <div>扫码加友</div>
                    </ion-col>

                    <ion-col col-4 (click)="ToSearchPage()">
                        <div>
                            <ion-icon ios="ios-search" md="md-search"></ion-icon>
                        </div>
                        <div> 高级搜索 </div>
                    </ion-col>

                    <ion-col col-4 (click)="ToContactsPage()">
                        <div>
                            <ion-icon ios="ios-contacts" md="md-contacts"></ion-icon>
                        </div>
                        <div>通讯录</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </div>

    <div [ngSwitch]="showType">
        <ion-list *ngSwitchCase="'hot'" class="friend-working-on-list">
            <div class="tomato-friend-task-list" (click)="toFriendInfo()">
                <div class="tomato-friend-task-top">
                    <span class="tomato-friend-task-state">
                        <span class="tomato-friend-task-name">张三</span>的番茄钟“打卡健身”正在进行中...
                    </span>

                </div>
                <div class="tomato-friend-task-bottom">
                    <div class="tomato-friend-task-left">
                        <span class="tomato-friend-task-time">
                            2017-10-11 10:00 开始，已进行
                            <span class="tomato-friend-task-duration"> 5 </span>分钟
                        </span>
                        <br>
                        <span>目标:
                            <span class="tomato-friend-task-target">俯卧撑 10 组</span>
                        </span>
                        <br>
                        <span>备注:
                            <span class="tomato-friend-task-notes">室内</span>
                        </span>
                    </div>
                </div>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'rank'">
            <ion-list class="rank-list">
                <ion-item *ngFor="let item of rankList">
                    <div class="rank-statistics">
                        <ion-avatar item-left class="item-rank">
                            <span class="rank {{ item.class }}">
                                <span>{{ item.rankText }}</span>
                            </span>
                            <img class="user-rank-header-img" [src]="item.image">
                        </ion-avatar>
                        <div class="item-desc">
                            <span class="tomatoNum"> {{ item.tomatoNum }}</span> 番茄钟，专注
                            <span class="minute"> {{ item.minute }}</span> 分钟
                            <p class="rank-title">
                                <ion-icon ios="ios-microphone" md="ios-microphone-outline"></ion-icon>
                                {{ item.title }}
                            </p>
                        </div>
                    </div>
                    <p class="rank-location">
                        <ion-icon name="pin"></ion-icon> 深圳市南山区
                    </p>
                </ion-item>
            </ion-list>
        </ion-list>
    </div>
</ion-content>