<ion-content no-bounce>
    <ion-slides pager="false" [options]="slideOpts">
        <ion-slide class="slide-background swiper-no-swiping" *ngFor="let background of backgrounds" [ngStyle]="{'background-image': 'url(' + background +')'}">
        </ion-slide>
    </ion-slides>
    <div class="login-container">
        <div class="login-logo"></div>
        <form #form="ngForm" (ngSubmit)="form.form.valid && doLogin()" novalidate class="form-horizontal tb-userform"
            role="form">
            <ion-list>
                <ion-item>
                    <ion-label color="primary"><img src='./assets/imgs/username.svg' style="width:18px" /></ion-label>
                    <ion-input required placeholder="请输入账号" [ngClass]="{'is-success': form.submitted && !userName.valid }"
                        name="username" [(ngModel)]="user.username" #userName="ngModel" type="text" (keydown)='onKeyPressed()'></ion-input>

                </ion-item>
                <div *ngIf="form.submitted && !userName.valid" class="text-danger">
                    用户名必须输入！
                </div>
                <ion-item>
                    <ion-label color="primary"><img src='./assets/imgs/password.svg' style="width:18px" /></ion-label>
                    <ion-input [ngClass]="{ 'is-success': form.submitted && !password.valid }" required [(ngModel)]="user.password"
                        name="password" #password="ngModel" type="password" placeholder="请输入密码" (keydown)='onKeyPressed()'></ion-input>
                </ion-item>
                <div *ngIf="form.submitted && !password.valid" class="text-danger">
                    密码必须输入,至少要6位！
                </div>
            </ion-list>
            <div *ngIf="error" class="text-danger">{{ error }}</div>
            <div class="login-button-area">
            </div>
            <div class="login-button-area">
                <button type="submit" class="login">登录</button>
                <button (click)="navToRegister()" class="register">注册</button>
            </div>
        </form>
    </div>
</ion-content>