<div style="background:white">
    <ion-list>
        <ion-item-sliding>
            <ion-item *ngFor="let task of allTasks.unfinished | TaskPipe:true">
                <ion-avatar item-start>
                    <img src="assets/tomato.png">
                </ion-avatar>
                <h2 class="title">{{ task.title }}</h2>
                <h3 class="subtitle">{{ task.target }}({{ task.description }})</h3>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="primary">
                        <ion-icon name="text"></ion-icon>
                        删除
                    </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>


    <div *ngIf="openNewTaskForm" class="box">
        <div class="field">
            <p class="control">
                <input class="input" type="text" [(ngModel)]="newTask.title" placeholder="任务名称">
            </p>
        </div>
        <div class="field">
            <p class="control">
                <input class="input" type="text" [(ngModel)]="newTask.target" placeholder="目标">
            </p>
        </div>
        <div class="field has-addons ">
            <p class="control">
                <input class="input" type="text" [(ngModel)]="newTask.num" value="1" placeholder="">
            </p>
            <p class="control">
                <a class="button is-primary">番茄钟个数</a>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <textarea class="textarea" [(ngModel)]="newTask.description" placeholder="描述/备注"></textarea>
            </p>
        </div>
        <div class="form-group">
            <a class="button is-primary" href="javascript:void(0)" (click)="addTask(true)">添加</a>
            <a class="button is-link" href="javascript:void(0)" (click)="openNewTaskForm=false;newTask.title=''">取消</a>
        </div>
    </div>
    <!-- 添加新任务 -->
    <h4 *ngIf="!openNewTaskForm">
        <small class="open-new-task-form" (click)="openNewTaskForm=true">添加新任务...</small>
    </h4>


    <div class="voice-mock-img"><img [(src)]="voice.ImgUrl" alt="" src=""></div>
    <div #holdToVoice class="hold-tips" [ngClass]="{'active': isStartRecord}">
        按住我说话
    </div>
    <div id="play_block" #play_block>
        <button ion-button color="secondary" round (click)="play()"> 播放 </button>
    </div>
</div>