<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="openNewTaskForm">
           {{ page_title }}
        </ion-title>
        <ion-buttons left *ngIf="showDismissButton">
            <button ion-button (click)="dismiss()" style="width:22px">
                <!-- <ion-icon name="md-close" showWhen="android,windows,ios"></ion-icon> -->
                <svg width="22px" enable-background="new 0 0 128 128" version="1.1" viewBox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <g>
                    <polygon fill="#373737" points="123.5429688,11.59375 116.4765625,4.5185547 64.0019531,56.9306641 11.5595703,4.4882813     4.4882813,11.5595703 56.9272461,63.9970703 4.4570313,116.4052734 11.5244141,123.4814453 63.9985352,71.0683594     116.4423828,123.5117188 123.5126953,116.4414063 71.0732422,64.0019531   "></polygon>
                </g>
            </svg>
            </button>
        </ion-buttons>

        <ion-buttons left *ngIf="openNewTaskForm">
            <button ion-button (click)="cancleAddTask()">
             取消
            </button>

        </ion-buttons>

        <div padding *ngIf="!openNewTaskForm">
            <ion-segment [(ngModel)]="taskType">
                <ion-segment-button value="today">
                    激活任务
                </ion-segment-button>
                <ion-segment-button value="often">
                    候选任务
                </ion-segment-button>
            </ion-segment>
        </div>

        <ion-buttons right *ngIf="!openNewTaskForm">
            <button ion-button icon-only (click)="addNewTaskLink()">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>

        <ion-buttons right *ngIf="openNewTaskForm">
            <button ion-button icon-only outline color="primary" (click)="addTask()" class="add-task-button">添加
            </button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>


<ion-content>
    <div *ngIf="openNewTaskForm" class="newtask-form-container">
        <ion-list>
            <ion-item>
                <ion-label stacked>任务名称</ion-label>
                <ion-input type="text" [(ngModel)]="newTask.title"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>目标</ion-label>
                <ion-input type="text" [(ngModel)]="newTask.target"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>番茄钟个数</ion-label>
                <ion-input type="text" [(ngModel)]="newTask.num"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>描述/备注</ion-label>
                <ion-textarea autoSizeTextarea type="text" [(ngModel)]="newTask.description"></ion-textarea>
            </ion-item>
            <div style="text-align:center;padding-left:15px;padding-top:15px">
                <voice-recorder [(voiceUploadUrl)]="voiceUploadUrl" [(postParams)]="voicepostParams"></voice-recorder>
            </div>
        </ion-list>
    </div>

    <div *ngIf="!openNewTaskForm" [ngSwitch]="taskType">
        <ion-list *ngSwitchCase="'today'">
            <ion-item-sliding *ngFor="let task of allTasks.unfinished | TaskPipe:true">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/tomato-active.png">
                    </ion-avatar>
                    <h2 class="title">{{ task.title }}</h2>
                    <div class="subtitle">{{ task.target }}
                        <span *ngIf="task.description">({{ task.description }})</span>
                    </div>
                    <ion-avatar item-end *ngIf="task.voiceUrl">
                        <img src="./assets/voice/voice.png" *ngIf="!task.isplaying&&!task.inDownloading" class="play-icon" (click)="playVoiceRecord(task)">
                        <img src="./assets/voice/voice_play_me.gif" *ngIf="task.isplaying" class="play-icon" (click)="stopPlayVoiceRecord(task)">
                        <div *ngIf="!task.isplaying&&task.inDownloading" class="downloading">{{ task.progress }}</div>
                        <div *ngIf="!task.isplaying&&task.inDownloading" [ngStyle]="{'width':task.progress}" class="downloading-bg"></div>
                    </ion-avatar>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="startTask(task)">
                        <ion-icon name="eye"></ion-icon> 开启
                    </button>
                    <button ion-button color="primary" (click)="removeTaskFromActiveList(task)">
                        <ion-icon name="eye-off"></ion-icon> 转到备用
                    </button>
                    <button ion-button color="danger" (click)="removeTask(task)">
                        <ion-icon name="remove"></ion-icon>删除
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

        <ion-list *ngSwitchCase="'often'">
            <ion-item-sliding *ngFor="let task of allTasks.unfinished | TaskPipe:false">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/tomato-grey.png">
                    </ion-avatar>
                    <h2 class="title">{{ task.title }}</h2>
                    <h3 class="subtitle">{{ task.target }}
                        <span *ngIf="task.description">({{ task.description }})</span>
                    </h3>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="addTaskToActiveList(task,1)">
                        <ion-icon name="text"></ion-icon> 转到激活
                    </button>
                    <button ion-button color="danger" (click)="removeTask(task)">
                        <ion-icon name="text"></ion-icon> 删除
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>

</ion-content>