.add-newtask-title {
  text-align: center;
  margin-top: 0px;
}

.subtitle {
  font-size: 12px;
  span {
    color: gray;
  }
}
button.add-task-button[icon-only]{
  padding: 5px 10px;
}

.downloading-bg{
  background: #7CCD7C;
  width:30px;
  height: 15px;
}

.newtask-form-container{
  margin: 0px 5px;
}