<ion-header>
  <ion-toolbar>
    <ion-title>足跡</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="toFootprintForm()">
        补录
      </ion-button>
    </ion-buttons>
    <div class="arrow-dropdown-circle">
      <ion-icon name="arrow-dropdown-circle" *ngIf="!showInput" (click)="showInputContainer()"></ion-icon>
      <ion-icon name="arrow-dropup-circle" *ngIf="showInput" (click)="showInputContainer()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles"
      refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="input-container" [ngClass]="{'show':showInput}">
    <ion-textarea rows="1" placeholder="发生了什么..." [dataval]="notes" [(ngModel)]="notes" autoSizeTextarea></ion-textarea>
    <div class="media-area">
      <ion-icon name="camera" (click)="addPictures()"></ion-icon>
      <ion-icon name="videocam" (click)="addVideo()"></ion-icon>
      <ion-icon name="mic" appVoiceRecoderDirective (finishRecord)="addVoices($event)"></ion-icon>
    </div>

    <div class="picture-list">
      <ng-container *ngFor="let item of picturesSafeUrl; let i = index">
        <div class="picture-item">
          <img [src]="item" />
          <ion-icon name="close" (click)="deletePicture(item,i)"></ion-icon>
        </div>
      </ng-container>
    </div>
    <div class="video-list">
      <div *ngFor="let item of videosObjs; let i = index">
        <ion-icon class="video-videocam" name="videocam"></ion-icon>
        <ion-icon class="video-delete" name="close" (click)="deleteVideo(item,i)"></ion-icon>
        <img (click)="showVideo(item.videoUrl)" onError="this.src='./assets/tomato-grey.png';"
          src="{{ item.safeUrl }}" />
      </div>
    </div>

    <div class="voice-list">
      <ng-container *ngFor="let item of voicesObjs; let i = index">
        <div class="play-block">
          <ion-button shape="round" color="primary" (click)="playLocalVoice(item.mediaSrc)">
            播放( {{ item.voiceDuration }} ")
          </ion-button>
          <ion-icon name="close" (click)="deleteVoice(item,i)"></ion-icon>
        </div>
      </ng-container>
    </div>

    <div class="tag-area">
      <div class="tag-header" (click)="openTagChooser()">标签
        <span class="choosed-tag" *ngFor="let item of tag">{{ item }} &nbsp;</span>
        <div class="choosed-tag-icon">
          <ion-icon name="arrow-dropright" *ngIf="!openTag">
            展开
          </ion-icon>
          <ion-icon name="arrow-dropdown" *ngIf="openTag"></ion-icon>
        </div>
      </div>
      <div class="tag-content" [ngClass]="{'open-tag': openTag}">
        <ng-container *ngFor="let item of taglist; let i = index" style="display: inline">
          <ion-chip color="primary" (click)="selectTag(item)" *ngIf="item.selected"
            (press)="showAndHideDeleteBut(item)">
            <ion-label class="text-small">{{ item.name }}</ion-label>
            <ion-icon *ngIf="item.showDeleteBut" name="close" (click)="deleteTag(item,i)"></ion-icon>
          </ion-chip>
          <ion-chip (click)="selectTag(item)" *ngIf="!item.selected" (press)="showAndHideDeleteBut(item)">
            <ion-label class="text-small">{{ item.name }}</ion-label>
            <ion-icon *ngIf="item.showDeleteBut" name="close" (click)="deleteTag(item,i)"></ion-icon>
          </ion-chip>
        </ng-container>
        <ion-chip appAddTagDirective (addTag)="addTag($event)" color="success">
          <ion-icon name="add"></ion-icon>
          <ion-label>添加标签</ion-label>
        </ion-chip>
      </div>
    </div>

    <div class="star-container flex-layout">
      <ion-label>心情</ion-label>
      <ng-container *ngFor="let item of mode" style="display: inline">
        <ion-icon class="star" name="star" *ngIf="item.selected" (click)="selectMode(item.index, false)"></ion-icon>
        <ion-icon class="star" name="star-outline" *ngIf="!item.selected" (click)="selectMode(item.index, true)">
        </ion-icon>
      </ng-container>
    </div>

    <!-- <div class="star-container flex-layout">
    <ion-label>是否公开</ion-label>
    <ion-checkbox color="primary" slot="end" [(ngModel)]="isPublish"></ion-checkbox>
  </div> -->

  </div>
  <div class="add-footprint-button-container">
    <div class="add-footprint-button" (click)="addFootprint()">
      <div>添加足跡</div>
      <div>{{ this.createAt }}</div>
    </div>
  </div>

  <div class="position-area">
    <ion-icon name="locate" color="primary"></ion-icon>
    <ion-label>{{ location }}</ion-label>
    <ion-select class="position-select-list" interface="popover" [(ngModel)]="location">
      <ion-select-option *ngFor="let item of locationList" value="{{ item.name }}">{{ item.name }}</ion-select-option>
    </ion-select>
  </div>

  <ion-card *ngIf="footprintlist && footprintlist.length > 0">
    <ion-card-header>
      <H3>今日足迹</H3>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let item of footprintlist; let i = index;">
          <ion-item>
            <div>
              <div class="text-small list-title">
                <span>{{ item.notes }}</span>
              </div>
              <div class="picture-list">
                <ng-container *ngFor="let pic of item.pictures">
                  <div class="picture-item">
                    <img [src]="pic" [picClicked]="pic" appShowBigImgDirective [pictures]="item.pictures" />
                  </div>
                </ng-container>
              </div>
              <div class="video-list" *ngIf="item.videos">
                <div *ngFor="let item of item.videos">
                  <ion-icon class="video-videocam" name="videocam"></ion-icon>
                  <img appShowVideoDirective [videoUrl]="item" onError="this.src='./assets/tomato-grey.png';"
                    src="{{ item + '_thumbnail' }}" />
                </div>
              </div>
              <div class="voice-list" *ngIf="item.voices.length > 0">
                <ng-container *ngFor="let item of item.voices; let i = index;">
                  <div class="play-block">
                    <ion-button shape="round" color="primary" appVoicePlayDirective [voiceUrl]="item">
                      片段({{ i+1 }})
                    </ion-button>
                  </div>
                </ng-container>
              </div>
              <div class="text-small list-info-block">
                <ion-text class="footprint-tag" color="primary" *ngIf="item.tag">
                  {{ item.tag }}
                </ion-text>
                {{ item.create_at | DateTransform}}
                <div style="display: inline-block">
                  <ng-container *ngIf="item.mode">
                    <ion-icon *ngFor="let i of item.mode" name="star" class="star"></ion-icon>
                  </ng-container>
                </div>
              </div>
              <p class="text-small">
                {{ item.position }}
              </p>
            </div>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="deleteFootprint(item._id,i)" color="danger">删除</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>