<ion-app [ngClass]="{'hide-app':hideNav}" [ngStyle]="{'margin-top': statubarHeight }">
  <ion-split-pane [ngClass]="{
      'dark-theme': selectedTheme === 'dark-theme',
      'light-theme': selectedTheme !== 'dark-theme'
    }">
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title> {{ 'HOME.Menu' | translate }} </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        居然被你发现了... 这里是蛮荒之地，待开发哦！
        <p>热更新版本: 0.7.2</p>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>