.wave-side-bar-container {
  right: 0;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;

  .alpha-sidebar {
    position: relative;

    li {
      color: #333;
      text-align: center;
      margin-bottom: 0;
      cursor: pointer;
      height: 18px;
      padding-right: 10px;
      padding-left: 10px;
      list-style: none;
    }
  }

  .alpha-promptBox {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background: #f97271;
    position: absolute;
    top: 50px;
    right: 40px;
    display:flex;
    align-items:center;
    div {
      color: white;
      text-align: center;
      width: 100%;
    }
  }

  .wave-side-a {
    display: block;
    padding-left: 8px;
    background: rgba(59, 13, 54, 0.16);
    text-decoration: none;
    color: #4d4d4d;
  }
}
