<ion-header>
  <ion-navbar [class.show-background]="showToolbar">
    <ion-title [hidden]="!showToolbar">{{ friendName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content" (ionScroll)="onScroll($event)" [class.transition]="transition" [style.background-size]="headerImgSize"
  [style.background-image]="'url('+ headerImgUrl+ ')'">
  <div class="user-info">
    <img src="assets/tomato-grey.png" alt="">
    <h4>{{ friendName }}</h4>
    <p>{{ bio }}</p>
  </div>
  <p class="req-add-friend-but" *ngIf="!isFriend">
    <button ion-button color="secondary" (click)="reqAddFriend()">请求加为好友</button>
  </p>
  <p class="req-add-friend-but" *ngIf="isFriend">
    <button ion-button color="secondary" (click)="toChatPage()">发起聊天</button>
  </p>
  <ion-list>
    <ion-item>
      <ion-icon name="locate" item-start class="setting-icon"></ion-icon>
      深圳南山区
    </ion-item>

    <button ion-item (click)="toFriendTomatoes()">
      <ion-icon name="alarm" item-start class="setting-icon"></ion-icon>
      Ta 的番茄钟
    </button>

    <button ion-item (click)="toMore()">
      <ion-icon name="more" item-start class="setting-icon"></ion-icon>
      更多资料
    </button>

  </ion-list>

</ion-content>