.timeline-container{
  display: flex;
  flex-direction: row;
}
.text-breaked{
  color: red !important;
}
.tomatoCount{
  width: 5%;
  align-self: center;
 
  h1{
     color: #00d1b2;
  }
}
  
.timeline-wrapper {
  display: block;
  width: 95%;
  height: 10rem;
  position: relative;
  color: #fff;
  text-align: center;
  margin: 0 auto;
    
  .timeline-line {
    display: block;
    width: 93.9%;
    height: 1px;
    background: #00d1b2;
    position: absolute;
    top: 50%;
    -webkit-box-shadow: 0 0 1px #00d1b2;
    -moz-box-shadow: 0 0 1px #00d1b2;
    box-shadow: 0 0 1px #00d1b2;
    left: 3%;
    margin-left: 2.5px;
  }
  
  .timeline-content-day {
    height: 100%;
  }
    
  .timeline-content-item {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    width: 6%;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-right: -5px;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;
    z-index: 1;

    > span {
      height: 2rem;
      display: block;
      font-weight: bold;
      position: absolute;
      top: 50%;
      margin-top: -.25em;
      width: 100%;
      color: #00d1b2;
      text-shadow: 0 0 1px #00d1b2;
      cursor: pointer;
      
      &:before {
        content: " ";
        display: block;
        width: .5em;
        height: .5em;
        background: #aaa;
        margin: 0 auto .5em auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 1px black;
        -moz-box-shadow: 0 0 1px black;
        box-shadow: 0 0 1px black;
      }
    }

    .timeline-content-item-reveal {
      display: none;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -20%;
      width: 100%;
      font-size: 14px;
      
      a {
        display: block;
        width: 100%;
        height: 100%;
        
        img {
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          height: 50px;
          border: 3px solid white;
          -webkit-box-shadow: 0 0 2px black;
          -moz-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
        }
        
        span {
          position: absolute;
          width: 250%;
          margin-left: -75%;
          bottom: -2rem;
          left: 0;
          font-family: serif;
          font-size: 1.3em;
          font-style: italic;
          text-decoration: none;
          white-space: nowrap;
          color: #00d1b2;
          // text-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 0 1px #f38763;
          &:after {
            content: "";// \203A
            margin-left: .3em;
          }
        }
      }
      
      
    }
    
    
    
    &.active {
      width: 10%;
      .timeline-content-item-reveal {
        display: block;
      }
    }
  }
}