<ion-header>
  <ion-toolbar>
    <ion-title>账单</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="toAssetManagement()">
        <ion-icon name="card"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新信息" refreshingSpinner="circles" refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-button class="add-bill-button" shape="round" fill="outline" expand="block" (click)="showBillForm()">
    <ion-icon name="add"></ion-icon>记一笔
  </ion-button>

  <ion-card *ngIf="showAdd" class="add-bill-form-card">

    <ion-card-header>
      <ion-card-title>
        <ion-select okText="确认" cancelText="取消" placeholder="类别" (ionChange)="changeBillType($event)" [(ngModel)]="newBill.type">
          <ion-select-option value="支出">支出</ion-select-option>
          <ion-select-option value="收入">收入</ion-select-option>
        </ion-select>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">日期</ion-label>
        <ion-datetime cancelText="取消" doneText='确认' display-format="YYYY-MM-DD, HH:mm" [(ngModel)]="newBill.date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">金额(<span class="rmb-sign">¥</span>)</ion-label>
        <ion-input type="number" class="amount" [(ngModel)]="newBill.amount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="newBill.type==='收入'">来源</ion-label>
        <ion-label *ngIf="newBill.type==='支出'">支付方式</ion-label>
        <ion-select okText="确认" cancelText="取消" (ionChange)="changePayWay($event)" [(ngModel)]="newBill.asset">
          <ion-select-option *ngFor="let item of assetList" value="{{ item._id }}">{{ item.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-slides pager="false" [options]="slideOpts" class="tag-slide" *ngIf="newBill.type==='收入'">
        <ion-slide>
          <ng-container *ngFor="let item of payTag3">
            <ion-chip color="primary" (click)="selectTag(item)" *ngIf="item.selected">
              <ion-label class="text-small">{{ item.name }}</ion-label>
            </ion-chip>
            <ion-chip (click)="selectTag(item)" *ngIf="!item.selected">
              <ion-label class="text-small">{{ item.name }}</ion-label>
            </ion-chip>
          </ng-container>
        </ion-slide>
      </ion-slides>
      <ion-slides pager="false" [options]="slideOpts" class="tag-slide" *ngIf="newBill.type==='支出'">
        <ion-slide>
          <ng-container *ngFor="let item of payTag1">
            <ion-chip color="primary" (click)="selectTag(item)" *ngIf="item.selected">
              <ion-label class="text-small">{{ item.name }}</ion-label>
            </ion-chip>
            <ion-chip (click)="selectTag(item)" *ngIf="!item.selected">
              <ion-label class="text-small">{{ item.name }}</ion-label>
            </ion-chip>
          </ng-container>
        </ion-slide>
        <ion-slide>
          <ng-container *ngFor="let item of payTag2">
            <ion-chip color="primary" (click)="selectTag(item)" *ngIf="item.selected">
              <ion-label class="text-small">{{ item.name }}</ion-label>
            </ion-chip>
            <ion-chip (click)="selectTag(item)" *ngIf="!item.selected">
              <ion-label class="text-small">{{ item.name }}</ion-label>
            </ion-chip>
          </ng-container>
        </ion-slide>
      </ion-slides>
      <ion-item>
        <ion-label position="stacked">备注</ion-label>
        <ion-input [(ngModel)]="newBill.note"></ion-input>
      </ion-item>
      <ion-button shape="round" (click)="submitBill()">提交</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label *ngIf="totalCost">总支出
        <ion-note slot="end" class="total-amount"><span class="rmb-sign">¥</span>{{ totalCost | NumberFix:2}}
        </ion-note>元
      </ion-label>
      <ion-label *ngIf="totalIncome">总收入
        <ion-note slot="end" class="total-amount"><span class="rmb-sign">¥</span>{{ totalIncome | NumberFix:2}}
        </ion-note>元
      </ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of billList;let i = index;">
      <ion-item>
        <ion-label>
          <p>
            <ion-text *ngIf="item.type" class="bill-note">
              {{ item.type }} <ion-text *ngIf="item.tag" class="bill-note">({{ item.tag }})</ion-text>:
            </ion-text>
            <ion-text class="list-amount">
              <span class="rmb-sign">¥</span>{{ item.amount }}
            </ion-text>
            <ion-text class="bill-note float-right">
              {{ item.note }}
            </ion-text>
          </p>
          <p>
            <ion-text *ngIf="item.type==='收入'" class="bill-note">来源:</ion-text>
            <ion-text *ngIf="item.type==='支出'" class="bill-note">支付方式:</ion-text>
            <ion-chip color="warning" *ngIf="item.asset.name" class="bill-note">
              <ion-label color="dark" class="text-small">{{ item.asset.name }}</ion-label>
            </ion-chip>
            <ion-text class="bill-note float-right text-small">
              {{ item.create_at | DateTransform }}
            </ion-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteBillRecord(item,i)" color="danger">删除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>