ion-slides {
    height: 80px;
    ion-slide {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        ion-chip {
            height: 24px;
            margin: 0 2px;
        }
    }
}

ion-item-sliding {
    ion-chip {
        height: 24px;
        margin: 0 2px;
    }
}

.add-bill-form-card {
    text-align: center;
}

.amount {
    color: #ff8208;
    text-align: left;
    font-size:24px;
}

.list-amount{
    color: #ff8208;
    text-align: left;
    margin: 0 10px;
}

.bill-note {
    font-size: 12px;
    color: #777;
}

.tag-slide {
    font-size: 12px;
}

.text-small {
    font-size: 10px;
    white-space: pre-line;
}