.add-bill-button {
    --ion-color-primary: #ff8208;
    --border-color: #ff8208;
}

ion-chip {
    --ion-color-warning: #ff8208;
}

ion-item-sliding {
    ion-chip {
        height: 24px;
        line-height: 24px;
        margin: 0 2px;
    }
}

.total-amount {
    font-size: 24px;
    color: #ff8208;
    font-family: 'RobotoLight';
}

.add-bill-form-card {
    text-align: center;
}

.list-amount {
    color: #ff8208;
    text-align: left;
    margin: 0px 10px 0px 0px;
    font-size: 18px;
    font-family: 'RobotoLight';
}

.amount-tag-income {
    color: #fff !important;
    padding: 2px 4px;
    background: #32CD32;
}

.amount-tag-pay {
    color: #fff !important;
    padding: 2px 4px;
    background: #ff8208;
}

.bill-note {
    font-size: 10px;
    color: #777;
}

.tag-slide {
    font-size: 12px;
}

.text-small {
    font-size: 10px;
    white-space: pre-line;
}

.rmb-sign {
    font-size: 12px;
}

.float-right {
    float: right;
}