<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-select (ionChange)="triggerTypeChange($event)" [interfaceOptions]="customActionSheetOptions" interface="action-sheet"
                placeholder="选择类别" cancelText="取消">
                <ion-select-option value="bill" selected>账单</ion-select-option>
                <ion-select-option value="footprint">足迹</ion-select-option>
                <ion-select-option value="todo">TODO</ion-select-option>
            </ion-select>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="statistics-container">
    <ion-list *ngIf="selectedType.value==='bill'">
        <ion-item>
            <ion-label> 汇总理财 </ion-label>
            <ion-checkbox slot="end" [(ngModel)]="showFinancing.val" (ionChange)="refreshBillInfo()"></ion-checkbox>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="selectedType.value==='bill'">
        <ion-list-header>
            <ion-label>
                <p *ngIf="totalCost"> 总支出
                    <ion-note slot="end" class="total-amount"><span class="rmb-sign">¥</span>{{ totalCost |
                        NumberFix:2}}
                    </ion-note><span class="rmb-sign">元</span>
                </p>
                <p *ngIf="totalIncome"> 总收入
                    <ion-note slot="end" class="total-amount"><span class="rmb-sign">¥</span>{{
                        totalIncome | NumberFix:2}}
                    </ion-note><span class="rmb-sign">元</span>
                </p>
            </ion-label>
            <ion-label *ngIf="totalIncome">
                <span class="rmb-sign">合计</span>
                <ion-note slot="end" class="total-amount"><span class="rmb-sign">¥</span>{{ total | NumberFix:2}}
                </ion-note><span class="rmb-sign">元</span>
            </ion-label>
        </ion-list-header>
    </ion-list>

    <ion-calendar [(ngModel)]="dateMulti" [options]="optionsMulti" [type]="type" [format]="'YYYY-MM-DD'" (monthChange)="changeMonth($event)"
        (select)="selectDay($event)">
    </ion-calendar>
</ion-content>