.divContainer {
    margin-top: 0px;
}

.statistics-container .scroll-content {
    padding: 0px 5px;
}

ion-calendar {
    padding: 10px 5px;
}

.total-amount {
    font-size: 24px;
    color: #ff8208;
    font-family: 'RobotoLight';
}

.rmb-sign {
    font-size: 12px;
}