.ion-alpha-list.list {
    margin: 0;
}

ion-alpha-scroll {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.ion-alpha-list .item {
    border-right: none;
    background: #eee;
    color: #777;
}

.ion-alpha-list>div:last-child .item .item-inner {
    border-bottom: none;
}

.ion-alpha-sidebar {
    margin: 0;
    padding: 15px 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 999;
}

.ion-alpha-sidebar li {
    line-height: 1.5;
    font-size: 13px;
    list-style: none;
    width: 40px;
    text-align: center;
}

.ion-alpha-invalid a {
    color: #cccccc;
}

.ion-alpha-active a {
    color: #333;
}

.alpha-list-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;
    overflow: hidden;
}

.alpha-list-wrapper::-webkit-scrollbar {
    display: none;
}