.voice-recorder-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hold-tips {
    width: 120px;
    height: 120px;
    flex: 3;
    text-align: center;
    padding-top: 6px;
    border-radius: 95px;
  }
  
  .hold-tips {
    background-color: #eee;
    color: #444;
    &.active {
      background-color: #fff;
    }
  }
  
  
  .voice-mock-img,#play_block{
    text-align: center;
  }
  .voice-mock-img{
    img{
      width: 120px;
    }
    .voicerecord-mic{
      font-size: 24px;
    }
  }
  #play_block{
      flex: 1;
  }

  #play_block button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.voice-uploading-range{
  width: 100%;
  ion-item{
    border: none !important;
  }
}

ion-icon.voicerecord-mic{
  font-size: 24px;
}

.voicerecord-mic-label{
  line-height: 32px;
}