<ion-header>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title [hidden]="!showToolbar">{{ friendName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" (ionScroll)="onScroll($event)">

  <div style="position: relative;">
    <div class="friendinfo-header-bg" [style.background-size]="headerImgSize"
      [style.background-image]="'url('+ headerImgUrl+ ')'" [class.transition]="transition">
    </div>

    <div class="user-info">
      <img [src]="headImg" onError="this.src='./assets/tomato-active.png';">
      <h4>{{ friendName }}</h4>
      <p>{{ bio }}</p>
    </div>
    <p class="req-add-friend-but" *ngIf="!isFriend">
      <ion-button color="secondary" (click)="reqAddFriend()">请求加为好友</ion-button>
    </p>
    <p class="req-add-friend-but" *ngIf="isFriend">
      <ion-button color="secondary" (click)="toChatPage()">发起聊天</ion-button>
    </p>
  </div>
  <ion-list>
    <ion-item>
      <ion-icon name="locate" item-start class="setting-icon"></ion-icon>
      {{ location }}
    </ion-item>

    <ion-item (click)="toFriendTomatoes()">
      <ion-icon name="alarm" item-start class="setting-icon"></ion-icon>
      Ta 的番茄钟（TODO）
    </ion-item>

    <ion-item (click)="toMore()">
      <ion-icon name="more" item-start class="setting-icon"></ion-icon>
      更多资料（TODO）
    </ion-item>

  </ion-list>

</ion-content>