<ion-header>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title [hidden]="!showToolbar">{{ friendName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #friendinfo_content class="content" (ionScroll)="onScroll($event)" [class.transition]="transition"
  [style.background-size]="headerImgSize" [style.background-image]="'url('+ headerImgUrl+ ')'">
  <div class="user-info">
    <img [src]="headImg" onError="this.src='./assets/tomato-active.png';">
    <h4>{{ friendName }}</h4>
    <p>{{ bio }}</p>
  </div>
  <p class="req-add-friend-but" *ngIf="!isFriend">
    <ion-button color="secondary" (click)="reqAddFriend()">请求加为好友</ion-button>
  </p>
  <p class="req-add-friend-but" *ngIf="isFriend">
    <ion-button color="secondary" (click)="toChatPage()">发起聊天</ion-button>
  </p>
  <ion-list>
    <ion-item>
      <ion-icon name="locate" item-start class="setting-icon"></ion-icon>
      深圳南山区
    </ion-item>

    <ion-item (click)="toFriendTomatoes()">
      <ion-icon name="alarm" item-start class="setting-icon"></ion-icon>
      Ta 的番茄钟
    </ion-item>

    <ion-item (click)="toMore()">
      <ion-icon name="more" item-start class="setting-icon"></ion-icon>
      更多资料
    </ion-item>

  </ion-list>

</ion-content>