<div class="tomato-user-bio">
    <div>
        {{ this.userBio }}
    </div>
</div>

<div class="start-old-task" *ngIf="currentTask.title && !activeTomato && !isResting">
    <label>继续上次任务:</label>
    <span>{{ currentTask.title }}</span>
    <div>
        <ion-icon class="tomato-replay-icon" ios="ios-play" md="md-play" (click)="startTask(currentTask,true)"></ion-icon>
    </div>
</div>
<div class="tomato-clock-block">
    <div angularRoundProgress [(timerStatus)]="timerStatus"></div>
</div>
<div class="active-task">
    <div class="bs-callout bs-callout-info" *ngIf="activeTomato">
        <h4 class="active-task-title">{{ activeTomato.title }}</h4>
        <p class="active-task-desc">{{ activeTomato.description }}</p>
    </div>
    <div class="bs-callout bs-callout-info" *ngIf="isResting">
        <h4 class="rest-title">休息中....</h4>
    </div>
    <ion-button expand="block" fill="outline" color="danger" class="break-tomato" *ngIf="activeTomato" (click)="breakActiveTask(true)">中断当前番茄钟</ion-button>
</div>
<div class="white-noise-tag-icon">

    <ion-icon name="volume-high" (click)="stopPlayWhiteNoise()" *ngIf="showWhiteNoiseIcon && whiteNoiseIsplaying">
        <span class="white-noise-icon-label">白噪音</span>
    </ion-icon>
    <ion-icon name="volume-off" (click)="startPlayWhiteNoise()" *ngIf="showWhiteNoiseIcon && !whiteNoiseIsplaying">
        <span class="white-noise-icon-label">白噪音</span>
    </ion-icon>

</div>