$timeline-prefix-cls: "tomatobang-timeline";
$timeline-color: #F97271;
.#{$timeline-prefix-cls} {
    list-style: none;
    margin: 0;
    padding: 0;
    &-pending {
        text-align: left;
    }
    &-item {
        position: relative;
        padding: 0 0 12px;
        list-style: none;
        margin: 0;
        &-tail {
            position: absolute;
            left: 12px;
            top: 0px;
            height: 100%;
            border-left: 2px solid $timeline-color;
        }
        &-pending &-tail {
            display: none;
        }
        &-head {
            position: absolute;
            width: 12px;
            height: 12px; // background-color: $timeline-color;
            border-radius: 100px;
            border: 2px solid transparent;
            &-blue {
                border-color: blue;
                color: blue;
            }
            &-red {
                border-color: red;
                color: red;
            }
            &-green {
                border-color: green;
                color: green;
            }
        }
        &-head-custom {
            position: absolute;
            text-align: center;
            width: 30px;
            line-height: 1;
            margin-top: 20px;
            border: 0;
            height: auto;
            border-radius: 0;
            padding: 3px 0;
            transform: translateY(-65%);
        }
        &-content {
            padding: 0 0 10px 34px;
            position: relative;
            top: -3px;
        }
        &-last {
            .#{$timeline-prefix-cls}-item-tail {
                border-left: 2px dotted $timeline-color;
                display: none;
            }
            .#{$timeline-prefix-cls}-item-content {
                min-height: 48px;
            }
        }
    }
    &-pending &-item-last &-item-tail {
        display: block;
    }
}