<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <div>番茄钟数目</div>
        <div class="today-tomatoCount">{{ tomatoCount }}</div>
      </ion-col>
      <ion-col col-6>
        <div>番茄钟时长(min)</div>
        <div class="today-tomatoCount">{{ tomatoCount_time }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<timeline>
  <timeline-item [nzColor]="'red'" *ngFor="let tomato of historyTomatoes" class="tomato-today-list" track="tooling">
    <ng-template #custom>
      <ion-avatar item-start>
        <img src="assets/tomato.png">
      </ion-avatar>
    </ng-template>
    <div class="tomato-start-end-time-block">
      <span class="tomato-start-end-time">{{ tomato.startTime | date:'shortTime' }} - {{ tomato.endTime | date:'shortTime' }}</span>
    </div>
    <h3>
      <span [ngClass]="{'text-breaked':tomato.succeed==0}">{{ tomato.title | StringTruncate: 20 }}</span>
      <img [src]="voicePlaySrc" *ngIf="tomato.voiceUrl" class="play-icon" (click)="playVoiceRecord(tomato)">
    </h3>
    <div *ngIf="tomato.breakReason" class="tomato-break-reason">(中断原因:{{ tomato.breakReason }})</div>
  </timeline-item>

  <ng-template #pending>
    <ion-icon ios="ios-bookmark" md="md-bookmark"></ion-icon>
  </ng-template>
</timeline>