<ion-header>
  <ion-toolbar no-border-bottom>
    <ion-title>我的资产</ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button icon-only>
        <ion-chip (click)="showAssetForm('新增')" color="primary">
          <ion-icon name="add"></ion-icon>
          <ion-label>添加资产</ion-label>
        </ion-chip>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <ion-list>
    <ion-list-header>
      <ion-label>总资产
        <ion-note slot="end" class="total-amount">{{ totalAmount | currency:'CNY':true:'1.2' }}
        </ion-note>
      </ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of assetList; let i = index;">
      <ion-item>
        <ion-label>
          <ion-text>
            <h3>{{ item.name }}</h3>
          </ion-text>
          <p class="amount">{{ item.amount | currency:'CNY':true:'1.2' }}</p>
          <ion-text color="secondary" *ngIf="item.notes">
            <p>{{ item.notes }}</p>
          </ion-text>
        </ion-label>
        <ion-button class="bill-link" size="small" (click)="showAssetBills(item)" slot="end">资产账单</ion-button>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="edit(item)">编辑</ion-item-option>
        <ion-item-option (click)="delete(item, i)" color="danger">删除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>