ion-list {
    ion-note {
        font-size: 32px;
        color: #ff8208;
        font-family: 'RobotoLight';
    }

    .label {
        position: absolute;
        left: 3px;
        top: 3px;
    }

    ion-item-sliding {
        .asset-item {
            height: 60px;
            width: 100%;
            position: relative;
            margin-top: 8px !important;
        }

        ion-note {
            position: absolute;
            bottom: 2px;
            width: 100%;
            text-align: center;
        }
    }
}

.total-amount {
    font-size: 36px !important;
    font-family: 'RobotoRegular' !important;
}

ion-card {
    text-align: center;
}

.rmb-sign {
    font-size: 12px;
}