ion-list {
    .amount {
        line-height: 40px;
        font-size: 32px;
        vertical-align: center;
        color: #ff8208;
        font-family: 'RobotoLight';
    }

    ion-item-sliding {
        .asset-item {
            height: 60px;
            width: 100%;
            position: relative;
            margin-top: 8px !important;
        }

        ion-note {
            position: absolute;
            bottom: 2px;
            width: 100%;
            text-align: center;
        }
    }
}

.total-amount {
    margin-left: 15px;
    margin-bottom: 15px;
    color: #ff8208;
    font-size: 36px !important;
    font-family: 'RobotoRegular' !important;
}

ion-card {
    text-align: center;
}

.rmb-sign {
    font-size: 12px;
}