// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~todomvc-common/base.css';
// @import '~todomvc-app-css/index.css';
@import './todomvc.scss';
@import "./theme/theme.dark.scss";
@import "./theme/theme.light.scss";

body,
ion-app {
    font-family: 'RobotoLight', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

:root {
    --ion-color-primary: #f97271;
    --ion-color-primary-rgb: 249, 114, 113;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #db6463;
    --ion-color-primary-tint: #fa807f;
}

.my-toast-style .toast-wrapper {
    background: #F97271;
    font-family: 'Hosted Noto Sans Regular', 'RobotoLight';
}

.transparent {
    ion-split-pane {
        visibility: hidden;
        background: transparent !important;
    }

    .modal-wrapper.sc-ion-modal-md {
        background: transparent !important;
        --background: transparent !important;
    }
}

@font-face {
    font-family: 'RobotoLight';
    src: url('./assets/fonts/Roboto-Light.ttf') format('TrueType');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('TrueType');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Medium.ttf') format('TrueType');
    font-weight: 700;
    font-style: normal;
}

.statistic-popover {
    .popover-content {
        --width: 80%;
        top: 50px !important;
        --min-width: 300px;
    }
}

.date-square-style {
    small {
        font-family: 'RobotoLight';
        top: 15px;
        --ion-color-primary: #ff8208;
        font-size: 10px;
        text-align: left !important;

        .day-pay-label {
            background: #ff8208;
            padding: 1px 2px;
            color: #fff;
            margin-bottom: 1px;
        }

        .day-income-label {
            padding: 1px 2px;
            margin-bottom: 1px;
            background: #32CD32;
            color: #fff;
        }
    }
}

.days {
    height: 65px !important;
    font-size: 10px;
    --ion-color-primary: rgba(200, 200, 200, .8);

    button.days-btn {
        p {
            position: absolute;
            top: 1px;
            width: 100%;
            font-size: 14px !important;
            text-align: center;
        }

        border-radius:2px !important;
        height: 70px !important;
    }
}

.ion-alpha-letter-indicator {
    -webkit-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
    opacity: 1;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    z-index: 999;
}