.hold-tips {
  height: 32px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-top: 6px;
  border-radius: 4px;
}

.hold-tips {
  background-color: #eee;
  color: #444;
}

 .hold-tips.active {
  background-color: #ccc;
}