.input-container {
    padding: 15px 10px 30px 10px;
}

ion-item {

    ion-label {
        --color: #888 !important;
        margin-bottom: 20px !important;
    }
}

.picture-list {
    img {
        display: inline-block;
        width: 100px;
    }

    .picture-item {
        position: relative;
        width: 100px;
        margin-right: 3px;
        display: inline-block;

        ion-icon {
            color: #f97271;
            opacity: .8;
            font-size: 32px;
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
}

.video-list {
    >div {
        position: relative;
        display: inline-block;

        img {

            margin-right: 3px;
            width: 100px;
        }

        .video-videocam {
            color: #f97271;
            opacity: .8;
            font-size: 36px;
            position: absolute;
            top: 30px;
            left: 32px;
        }

        .video-delete {
            color: #f97271;
            opacity: .8;
            font-size: 32px;
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
}

.footprint-note-input {
    font-size: 18px;
    position: relative;
    margin: 0 0 0 15px;
    width: 100%;
    font-size: 22px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    color: inherit;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    --padding-start: 0;
    text-align: left;

    input::-webkit-input-placeholder {
        color: #888;
        font-size: 14px;
    }
}

.tag-header {
    color: #888;
    font-size: 12px;
}

.star-container {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;

    ion-label {
        margin-right: 15px;
        color: #888;
        font-size: 12px;
    }

    ion-icon.star {
        font-size: 32px;
    }
}

.flex-layout {
    display: flex;
    align-items: center;
}

ion-icon.star {
    color: #FACE02;
    font-size: 16px;
}

.text-small {
    font-size: 10px;
    white-space: pre-line;
}

.tag-area {
    margin-left: 15px;
    margin-top: 15px;

    .tag-content {
        margin: 10px auto;
        height: 0;
        overflow: hidden;
        transition: height ease-in-out 500ms;
        -o-transition: height ease-in-out 500ms;
        -moz-transition: height ease-in-out 500ms;
        -webkit-transition: height ease-in-out 500ms;
    }

    .tag-content.open-tag {
        height: 80px;
    }

    .choosed-tag {
        font-weight: bold;
        color: #f97271;
    }

    .choosed-tag-icon {
        float: right;
        font-size: 24px;
        color: #888;
    }
}

.media-area {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;

    ion-icon {
        color: #888;
        margin: 5px;
        font-size: 27px;
    }
}

.play-block {
    margin: 5px 5px 5px 0px;
    display: inline-block;
}