<ion-header>
  <ion-toolbar no-border-bottom>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button shape="round" color="primary" (click)="addFootprint()">提交</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <div class="input-container">
    <ion-textarea rows="1" autoSizeTextarea class="footprint-note-input" placeholder="发生了什么..." [(ngModel)]="notes">
    </ion-textarea>
    <div class="media-area">
      <ion-icon name="camera" (click)="addPictures()"></ion-icon>
      <ion-icon name="videocam" (click)="addVideo()"></ion-icon>
      <ion-icon name="mic" appVoiceRecoderDirective (finishRecord)="addVoices($event)"></ion-icon>
    </div>

    <div class="picture-list">
      <ng-container *ngFor="let item of picturesSafeUrl">
        <img [src]="item" />
      </ng-container>
    </div>

    <div class="video-list">
      <div *ngFor="let item of videosObjs; let i = index">
        <ion-icon class="video-videocam" name="videocam"></ion-icon>
        <ion-icon class="video-delete" name="close" (click)="deleteVideo(item,i)"></ion-icon>
        <img (click)="showVideo(item.videoUrl)" onError="this.src='./assets/tomato-grey.png';"
          src="{{ item.safeUrl }}" />
      </div>
    </div>

    <div class="voice-list">
      <ng-container *ngFor="let item of voicesObjs; let i = index">
        <div class="play-block">
          <ion-button shape="round" color="primary" (click)="playLocalVoice(item.mediaSrc)">
            播放( {{ item.voiceDuration }} ")
          </ion-button>
          <ion-icon name="close" (click)="deleteVoice(item,i)"></ion-icon>
        </div>
      </ng-container>
    </div>

    <div class="tag-area">
      <div class="tag-header" (click)="openTagChooser()">标签
        <span class="choosed-tag" *ngFor="let item of tag">{{ item }} &nbsp;</span>
        <div class="choosed-tag-icon">
          <ion-icon name="arrow-dropright" *ngIf="!openTag">
            展开
          </ion-icon>
          <ion-icon name="arrow-dropdown" *ngIf="openTag"></ion-icon>
        </div>
      </div>
      <div class="tag-content" [ngClass]="{'open-tag': openTag}">
        <ng-container *ngFor="let item of taglist" style="display: inline">
          <ion-chip color="primary" (click)="selectTag(item)" *ngIf="item.selected">
            <ion-label class="text-small">{{ item.name }}</ion-label>
          </ion-chip>

          <ion-chip (click)="selectTag(item)" *ngIf="!item.selected">
            <ion-label class="text-small">{{ item.name }}</ion-label>
          </ion-chip>
        </ng-container>
      </div>
    </div>

    <ion-item>
      <ion-label position="stacked">心情</ion-label>
      <div class="star-container flex-layout">
        <ng-container *ngFor="let item of mode" style="display: inline">
          <ion-icon class="star" name="star" *ngIf="item.selected" (click)="selectMode(item.index, false)"></ion-icon>
          <ion-icon class="star" name="star-outline" *ngIf="!item.selected" (click)="selectMode(item.index, true)">
          </ion-icon>
        </ng-container>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">时间</ion-label>
      <ion-datetime cancelText="取消" doneText='确认' display-format="YYYY-MM-DD, HH:mm" [(ngModel)]="create_at">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">地点</ion-label>
      <ion-input placeholder="地点..." style="font-size:12px" [(ngModel)]="location"></ion-input>
    </ion-item>

  </div>
</ion-content>